$dir: '/';
$maskColor: rgba(0, 0, 0, .2); // .48
$mainColor: #148482;
$lineColor: #e3e3e3;
$inputLineColor: #bbb;
$placeholderColor: #bbb;
$baseFontColor: #333;
$baseShadowColor: #efefef;
$batteryGreen: #5ed642;
$batteryRed: #e24e4e;
$backgroundColor:#f4f4f4;