@import "~assets/sass/_mixins";
@import "~assets/sass/_value";

// https://blog.csdn.net/jayhkw/article/details/54314704
:root {
  font-family: -apple-system, "PingFang SC", BlinkMacSystemFont, 'Microsoft YaHei', Arial, sans-serif;
}
//隐藏ios 默认的点击出现遮罩层的bug
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.container {
  font-size: rsh(32);
  color: $baseFontColor;
  // a {
  //   @include acr($baseFontColor);
  // }
  button, input {
    color: $baseFontColor;
  }
  // &:before {
  //   content: '';
  //   display: block;
  //   position: fixed;
  //   top: rsh(-20);
  //   left: 0;
  //   width: 100%;
  //   height: rsh(20);
  //   box-shadow: 0 rsh(5) rsh(15) rgba($baseShadowColor, 1);
  //   z-index: 50;
  // }
  .mask{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }
}